body.info .pokemon-modal {
    display: block;
}

.pokemon-modal {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    background-color: rgba(33, 37, 41, .75);
}

.pokemon-info {
    left: 50%;
    top: 15rem;
    width: 18rem;
    position: absolute;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    border-radius: 2rem;
}

.pokemon-info .pokemon-header {
    top: 1rem;
    height: 15.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    position: relative;
    color: white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 1rem 1rem 2rem;
    background-image: url('../images/pokemon-logo.png');
    background-position: bottom right;
    background-repeat: no-repeat;
}

.pokemon-info .pokemon-header .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
}

.pokemon-info .pokemon-header .types,
.pokemon-info .pokemon-header .types-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.pokemon-info .pokemon-header .types .type {
    margin-right: .5rem;
}

.pokemon-info .pokemon-header .types small {
    font-size: 65%;
}

.pokemon-info .pokemon-header img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    max-width: 100%;
    height: 200px;
    -webkit-filter: drop-shadow(0 0 .75rem rgba(255,255,255,.75));
            filter: drop-shadow(0 0 .75rem rgba(255,255,255,.75));
    -webkit-transition: opacity .3s ease, -webkit-filter .5s ease;
    transition: opacity .3s ease, -webkit-filter .5s ease;
    -o-transition: opacity .3s ease, filter .5s ease;
    transition: opacity .3s ease, filter .5s ease;
    transition: opacity .3s ease, filter .5s ease, -webkit-filter .5s ease;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}

.pokemon-info .pokemon-header h1,
.pokemon-info .pokemon-header h2,
.pokemon-info .pokemon-header h3,
.pokemon-info .pokemon-header h4,
.pokemon-info .pokemon-header h5 {
    margin: 0;
    padding: 0;
}

.pokemon-info .pokemon-body {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: .2rem .5rem;
    -ms-grid-columns: auto .5rem auto .5rem 1fr;
    grid-template-columns: auto auto 1fr;
    background-color: #fff;
    border-radius: 1rem;
    position: relative;
    padding: 2rem 1rem;
}

.pokemon-info .pokemon-body small:nth-of-type(even) {
    margin-left: 1rem;
}

.pokemon-info .pokemon-body .progress {
    background-color: #f3f3f3;
    height: 2px;
}

.pokemon-info .pokemon-body .progress-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 2px;
}

.progress:nth-of-type(1) .progress-bar,
.progress:nth-of-type(3) .progress-bar,
.progress:nth-of-type(6) .progress-bar {
    background: #ff5252;
}

.progress:nth-of-type(2) .progress-bar,
.progress:nth-of-type(4) .progress-bar,
.progress:nth-of-type(5) .progress-bar,
.progress:nth-of-type(7) .progress-bar {
    background: #27d92d;
}